@{
    Layout = "CoffeShopPages/_LayoutCoffeShopTestPage";
}

<div>
    <h2>Add Page</h2>
    <form action="/AdminPage/Add" method="post">
        <div>
            <input type="text" name="name" placeholder="Add Name coffee" /> 
        </div>
        <div>
            <input type="text" name="img" placeholder="Add Url Image coffee"/>
        </div>
        <div>
            <input type="text" name="cell" placeholder="Add Price"/>
        </div>
        <button class="btn">Add New Coffee</button>  
    </form>

</div>