@{
    Layout = "CoffeShopPages/_LayoutCoffeShopTestPage";
}

<div>
    Hello Admin Name
    <a href="/AdminPage/AddPageCoffee">
        Add Coffee
    </a>
    <a href="/AdminPage/AddingCoffee">
        Adding Yor'e Coffee
    </a>
</div>